body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

footer {
    position: absolute;
    bottom: 0px;
    align-items: center;
}
.line {
    width: 99vw;
}
#app {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px;
    text-align: center;
}

h1 {
    color: #333;
}

#task-container {
    margin-top: 20px;
}

.task {
    padding: 15px;
    margin-bottom: 5px;
    cursor: pointer;
	text-align: center;
	border: 2px solid black;
}

.button {
    margin-left: 30px;
}

.task:nth-child(odd) {
    background-color: #e0e0e0;
}

#input-container {
    margin-top: 20px;
}

input {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
}

button {
    padding: 8px 15px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
